/* Add your styles here */
.blog-container {
    max-width: 800px;
    margin: 0 auto;
}

.blog-post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

.admin-container {
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input{
    height: 7vh;
}

textarea{
    height: 15vh;
}